html {
}

body {
  background: #EEEEEE;
  min-height:400px;
  width:500px;
  overflow-x: hidden;
}

#title {
  text-align: center;
}
#github {
  font-size:.8em;
  text-decoration: none;
  vertical-align: middle;
}
.cookie {
}
.cookie h2 {
  font-size:1.4em;
  border-bottom:2px solid #E7E7E7;
}
.cookie .title_domain {
  font-color:grey;
}
.cookie .title_name {
  font-weight:bold;
}